# 3.1

In [3]:
names=['Ahmed','salim','Ajeet','Dilkash']

print(names[0])
print(names[1])
print(names[2])
print(names[3])

Ahmed
salim
Ajeet
Dilkash

# 3.2

In [8]:
names=['Ahmed','salim','Ajeet','Dilkash']


mess=f"hello {names[0]},You are selected in ubit in CS dept"
print(mess)

mess=f"hello {names[1]},You are selected in UOK in electronics dept"
print(mess)

mess=f"hello {names[2]},You are selected in UOK in English dept"
print(mess)


mess=f"hello {names[3]},You are selected in UOK in Physics dept"
print(mess)

hello Ahmed,You are selected in ubit in CS dept
hello salim,You are selected in UOK in electronics dept
hello Ajeet,You are selected in UOK in English dept
hello Dilkash,You are selected in UOK in Physics dept

# 3.3

In [11]:
own_list=['Motors','cars','alto vxr','cultus','BMW','mehran']


print(f"{own_list[0]} are likely used in pakistan and increase day by day peoples choice {own_list[1]},{own_list[-2]} is my fav {own_list[1]}")
print(f"{own_list[-1]} are cheepest {own_list[1]} used in pakistan")

Motors are likely used in pakistan and increase day by day peoples choice cars,BMW is my fav cars
mehran are cheepest cars used in pakistan

# 3.4

In [5]:
guest_list=['Elon musk','Mark','Nasir Hussain']


mess=f"hello {guest_list[0]}, i invite to dinner"
print(mess)

mess=f"hello {guest_list[1]},i invite to dinner"
print(mess)

mess=f"hello {guest_list[2]},i invite to dinner"
print(mess)

hello Elon musk, i invite to dinner
hello Mark,i invite to dinner
hello Nasir Hussain,i invite to dinner

# 3.5(1)

In [6]:
guest_list=['Elon musk','Mark','Nasir Hussain']

print(f"{guest_list.pop(0)} i did not come on dinner,sorry")

Elon musk i did not come on dinner,sorry

# 3.5(2)

In [7]:
guest_list=['Elon musk','Mark','Nasir Hussain']

guest_list[0]='Bill gates'
guest_list

['Bill gates', 'Mark', 'Nasir Hussain']

# 3.5(3)

In [8]:
guest_list

mess=f"hello {guest_list[0]}, i invite to dinner"
print(mess)

mess=f"hello {guest_list[1]},i invite to dinner"
print(mess)

mess=f"hello {guest_list[2]},i invite to dinner"
print(mess)

hello Bill gates, i invite to dinner
hello Mark,i invite to dinner
hello Nasir Hussain,i invite to dinner

# 3.6

In [43]:
guest_list=['Elon musk','Mark','Nasir Hussain']

print("i nvite more famous personlities i have bigger table booked")


guest_list.insert(0,'Imran Khan')    #start with beginning

guest_list.insert(3,'SRK')           #MIDDLE


guest_list.append('Salman khan')    #last index


print(guest_list)

len(guest_list)

i nvite more famous personlities i have bigger table booked
['Imran Khan', 'Elon musk', 'Mark', 'SRK', 'Nasir Hussain', 'Salman khan']

6

In [3]:
guest_list

['Imran Khan', 'Elon musk', 'Mark', 'SRK', 'Nasir Hussain', 'Salman khan']

# 3.7

In [7]:
print("only two person invitedddd,sorrry")
print(f"{guest_list.pop(1)},sorry for no invition for dinner ")
guest_list

only two person invitedddd,sorrry
SRK,sorry for no invition for dinner

['Imran Khan', 'Salman khan']

In [8]:
guest_list

['Imran Khan', 'Salman khan']

In [11]:
del guest_list[0]

In [12]:
guest_list

[]

# 3.8

In [21]:
places=['Taj Mahal','kedarnath','kashmir','hunza valley','skardu']

print(f"origional list is  ={places}" )                  #origional list

print(f"sorted list  = {sorted(places)}")             #sort list


print(f"Again origional list is  ={places}" )                     #again origional list

origional list is  =['Taj Mahal', 'kedarnath', 'kashmir', 'hunza valley', 'skardu']
sorted list  = ['Taj Mahal', 'hunza valley', 'kashmir', 'kedarnath', 'skardu']
Again origional list is  =['Taj Mahal', 'kedarnath', 'kashmir', 'hunza valley', 'skardu']

In [30]:
places=['Taj Mahal','kedarnath','kashmir','hunza valley','skardu']

print(f"sorted list  = {places.sort(reverse=True)}")  
places

sorted list  = None

['skardu', 'kedarnath', 'kashmir', 'hunza valley', 'Taj Mahal']

In [32]:
places=['Taj Mahal','kedarnath','kashmir','hunza valley','skardu']

print(f"sorted list  = {sorted(places)}")             #sort list
  
print(f"Again origional list is  ={places}" )

sorted list  = ['Taj Mahal', 'hunza valley', 'kashmir', 'kedarnath', 'skardu']
Again origional list is  =['Taj Mahal', 'kedarnath', 'kashmir', 'hunza valley', 'skardu']

In [35]:
places

['Taj Mahal', 'kedarnath', 'kashmir', 'hunza valley', 'skardu']

In [39]:
print(f"order had changes and reverse list is {places.reverse()}")
places

order had changes and reverse list is None

['skardu', 'hunza valley', 'kashmir', 'kedarnath', 'Taj Mahal']

# 3.9

In [40]:
guest_list=['Elon musk','Mark','Nasir Hussain']

len(guest_list)

3

# 3.11

In [45]:
new_list=['freinds','family','students']
new_list[3]

IndexError: list index out of range

In [46]:
new_list=[]
new_list[3]

IndexError: list index out of range